/* NAvbar-section */
*{
    margin: 0px;
    padding: 0px;
    color:white;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar{
    position: relative;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: center; */
    /* justify-content: right; */
}
#navbar::before{
    content: '';
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 2;
}
#navbar img {
    height: 63px;
    padding: 7px 6px;
    margin: 2px 6px;
    /* filter: invert(100%); */
    border-radius: 18px;
    /* border: 1px solid black; */
}
#navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar ul li{
    list-style: none;
    /* flex-basis: 600px; */
}
#navbar ul li a {
    /* flex-grow: 2; */
    /* flex-basis: 400px; */
    display: block;
    /* list-style: none; */
    text-decoration: none;
    color: white;
    padding: 2px 19px;
    margin: 8px 20px;
    font-size: 1.3rem;
}
#navbar ul li a:hover{
  color: black;
  background-color: white;
  border-radius: 10px;
    
}
#navbar .right{
    padding: 2px 10px;
    margin: 2px 10px;
    /* display: flex; */
    /* position: relative; */
    /* left: 377px; */
}
#navbar .right input{
    color: black;
    border-radius: 6px;
    text-align: center;
    font-size: 1rem;
    
}

#navbar .right button {
    font-size: 1rem;
    border-radius: 10px;
    color: #ffffff;
    background-color: rgb(238 31 31);
    cursor: pointer;
    padding: 4px 22px;
    margin: 0px 12px;
}
#navbar .right button:hover{
    color: white;
    background-color: black;
}
/* section class */
 .sec{
     /* position: relative; */
    height: 417px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    padding: 10px 20px;
} 
.sec h1{
    font-weight: bolder;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 2.8rem;
    margin: 18px;
    text-transform: capitalize;
    color: white;
}
.sec p{
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center;
    font-size: 1.2rem;
}
.sec button {
    font-size: 1.3rem;
    border-radius: 21px;
    color: #ff1b1b;
    background-color: rgb(228 221 221);
    cursor: pointer;
    padding: 4px 47px;
    margin: 41px 88px;
}
.sec button:hover{
    color: white;
    background-color: black;
}
 .sec::before {
    content: "";
    background: url(red-matrix-5031496_1920.jpg) no-repeat center center/cover;
    position: absolute;
    height: 551px;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.7;
} 
.sec-2{
    display: flex;
    position: relative;
    height: 600px;
    /* border: 2px solid red; */
    /* justify-content: center; */
    /* align-items: center; */
}
.sec-2 .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px 14px;
    padding: 6px 9px
}
.sec-2 .card img{
    height: 130px;
}
.sec-2 h3{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 2rem;
    margin: 2px 2px;
}
.sec-2 p {
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center;
    font-size: 1.2rem;
    padding: 9px 10px;
}
h1{
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center;
    font-size: 2.8rem;
    margin: 15px;
    color: black;
}
.sec-2::before{
    content: "";
    background: url(bg1.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
}
/* Our Clients */
.sec-3{
    height: 400px;
    position: relative;
    display: flex;
    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
}
.client img {
    padding: 0px 32px;
    height: 114px;
    /* width: 169px; */
    margin: 0px 30px;
    border-radius: 93px;
}
.sec-3::before{
    content: "";
    background: url(cytonn-photography-n95VMLxqM2I-unsplash.jpg)no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}
/* section-4 */
.formgroup{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
.form{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 15px;
    /* align-items: center; */
}
.form label{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.4rem;
}
.form input, .form textarea{
    font-family: 'Baloo Paaji 2', cursive;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px 38px;
    border-radius: 10px;
}
.form button {
    font-size: 1.3rem;
    border-radius: 21px;
    color: #ff1b1b;
    background-color: rgb(228 221 221);
    cursor: pointer;
    padding: 4px 33px;
    margin: 0px 0px;
}
.form button:hover{
    color: white;
    background-color: black;
}
.formgroup::before{
    content: "";
    background: url(kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1; 
    opacity: 1;
}
.foot{
    font-family: 'Baloo Paaji 2', cursive;
    background-color: black;
    text-align: center;
    margin: 0px 0px;
    padding: 10px 20px;
}